<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>

    <h1><a href="HelloViterbo">Hello World</a></h1>
	<strong>Dirige seu nome<br>
		<FORM METHOD=GET ACTION="/HelloViterbo">
		<INPUT TYPE=TEXT NAME="name"><P>
		<INPUT TYPE=SUBMIT>
		</FORM>
	
	<strong>
  </div>
</div>

</body>
</html>
